.TextInput {
    font-size: large;
    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 5px auto;
}

.Button {
    display: block;
    margin: 10px auto;
    padding: .5rem;
    font-size: 1em;
    background: darkcyan;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px auto;
    max-width: 300;
    margin: '0, auto'
}

.body {
    text-align: center;
    justify-content: center;
}

footer {
    height: 100px;
    background: #eee;
}

.App {
    text-align: center;
    justify-content: center;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}